:root {
  /*  default theme color
      can be overrided by uses `themeConfig` option
      --slidev-theme-primary: #5d8392;
  */
  --slidev-theme-primary: #41B883;
}

html:not(.dark) #slide-content {
  @apply text-vblue;
}

.dark #slide-content {
  @apply bg-vblue;
}

.slidev-layout.cover,
.slidev-layout.intro {
  /* @apply h-full grid; */

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4 font-200;
  }

  p + h2, ul + h2, table + h2 {
    @apply mt-10;
  }

  h3 {
    @apply text-sm pt-2 uppercase tracking-widest font-500 -ml-[0.05em];
  }

  h3:not(.opacity-100) {
    @apply opacity-40;
  }
}

.slidev-layout.default {
  background-image: url('/bg-default.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slidev-layout {
  ul {
    @apply list-disc;

    & ::marker {
      @apply text-vgreen;
    }
  }
  li {

  }
}
